<section>
    <h2>Login</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam repellat qui nostrum consequatur adipisci ipsam commodi voluptates quisquam odit dolores omnis quasi asperiores corrupti perspiciatis, recusandae obcaecati ut harum necessitatibus.</p>
    <section>
        <div>
            <h3>Login</h3>
            <label>Usuario</label>
            <input type="text" placeholder="Ingrese su usuario..">
            <label>Contraseña</label>
            <input type="password" placeholder="Ingrese su contraseña..">    
            
            <button>Ingresar</button>
        </div>
    </section>
</section>